@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: #0f0;
  font-family: 'DotGothic16', monospace;
  overflow: hidden;
}